---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set rutas = ["/", "/quienes-somos/", "/actividades/", "/programas/", "/hazte-socio/", "/contacto/", "/legal/aviso-legal/", "/legal/privacidad/", "/legal/cookies/"] %}
{%- for r in rutas %}
  <url><loc>{{ site.url }}{{ r }}</loc></url>
{%- endfor %}
</urlset>
